body {
  font-family: "Times New Roman", Times, serif;
  background: #ffffff;
  color: #000000;
}

form {
  max-width: 700px;
  background: #F2F2F2;
  margin: 50px auto;  
  padding: 20px;     
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.required {
  color: red;
  font-weight: bold;
}


h2 {
  color: red;
  font-weight: bold;
}
