nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
    color: yellow;
}
