body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.product-box {
    display: inline-block;
    width: 250px;
    background: #f5f5f5;
    border: 2px solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.product-box img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}


.product-box a {
    display: inline-block;
    padding: 8px 15px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.product-box:hover {
    outline: 3px solid #000;
    outline-offset: 3px;
}